# -------------------------
# Python
# -------------------------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# Java / Spring Boot
# -------------------------
/target/
/*.log
*.class
*.jar
*.war

# -------------------------
# Data files
# -------------------------
# If you don't want to push large CSVs
# data/
